/**{
    border:1px solid yellow;
}*/
body {
	font-size:100%;
}
#main{
	width:1200px;
	/*height:100%;*/
	margin:auto;
}
#navbar {
    height:8em;
    width:100%;
    background-color:black;
	margin-top:3%;
	opacity:1;
	box-shadow: rgba(0,0,0,0.6) 1.5em 1.5em;
	/*border:3px solid #669999;*/
}
#name{
	display:inline-block;
	text-align:center;
	color:white;
	width:10em;
	height:1.4em;
	font-size:2.5em;
	font-family:Copperplate Gothic Light, sans-serif;
	margin-top:1em;
}
ul {
	margin:0;
	padding:0;
	float:right;
	display:inline-block;
	list-style-type:none;
	margin-top:2.1em;
	width:45em;
}
li {
	float:left;
	display:inline-block;
	font-size:1em;
	width:8.85em;
	text-align:center;
	background-color:#333333;
	border:0.0625em solid black;
}
a {
	display:block;
	color:white;
	font-family:Copperplate Gothic Light, sans-serif;
	width:8.8em;
	padding-top:1.5em;
	padding-bottom:1.5em;
}
a:link{
	text-decoration:none;
}
a:hover {
	background-color:#669999;
	color:black;
	font-weight:bold;
}
#shade {
	width:100%;
	height:1.6em;
	background-color:black;
	opacity:0.6;
	border-bottom-right-radius:0.5em;
	border-bottom-left-radius:0.5em;
	margin-top:3em;
}
#body {
	width:35em;
	height:12em;
	background-color:black;
	opacity:0.9;
	color:white;
	margin-top:3em;
	margin-left:3em;
	border-radius:5px;
	padding-top:2em;
	padding-left:2em;
	font-size:1.2em;
	font-family:Copperplate Gothic Light, sans-serif;
	
}
#footer {
	color:white;
	font-size:0.8em;
	float:bottom;
}
/*			<div id="shade"></div>*/